/* tailwindcss directives */
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  /* buttons */
  .back-btn{
    @apply bg-pink-600 text-white hover:bg-pink-600 font-semibold hover:text-white py-2 px-4 border border-pink-600 hover:border-transparent  mr-2;
  }

  .login-btn{
    @apply w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg
    px-4 py-3 mt-6;
  }

  .primary-btn{
    @apply bg-blue-700 text-white font-semibold py-2 px-4 border border-gray-600 rounded mr-2
    hover:bg-green-400 hover:text-white hover:border-transparent;
  }

  .submit-btn{
    @apply bg-blue-700 text-white font-semibold p-5 rounded-lg shadow-lg;
  }

  /* table */
  .ui-table {
    @apply mx-auto w-full whitespace-nowrap rounded-lg bg-white overflow-hidden shadow-2xl;
  }

  .form-card{
    @apply p-10 rounded-2xl bg-white shadow-2xl
  }

  th {
    @apply font-semibold text-sm uppercase px-6 py-4;
  }

  td {
    @apply px-6 py-4 text-gray-800 text-sm font-thin tracking-wide;
  }

  /* inputs */
  label {
    @apply block text-black text-sm font-bold mb-2 mt-2;
  }

  input:not([type='checkbox']) {
    @apply appearance-none border-b-2  mb-6 rounded w-full py-2 px-3 text-gray-700 leading-tight outline-none;
  }

  textarea {
    @apply appearance-none border-b-2 mb-6 rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  select {
    @apply appearance-none border-b-2 mb-6 rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  button {
    @apply mb-2 mt-2;
  }

  button:focus {
    @apply outline-none;
  }

  /* titles */
  .title-web{
    @apply text-3xl font-semibold text-gray-900 px-4 pt-8 pb-8 text-left;
  }
}